img {
    padding: 10px;
    border-radius: 5px;
    float: right;
    background: #373737;
}
body {
    font-family: 'Raleway','Merriweather','Nunito';
    background: #29b6f6;
}
h1 {
    text-align: center;
}
.container {
    background: #81d4fa;
    width: 70%;
    margin: 85px auto;
    overflow: auto;
    padding: 25px;
}
footer {
    text-align: center;
}
nav a{
    padding: 7px;
    border: 3px solid #373737;
    margin: right;
    border-radius: 20px;
    background: #8e8e8e;
    text-decoration: none;
    color: #faf6f6;
}
nav {
    text-align: center;
}
p {
    color: #373737
}
figure {
    display: inline-block;
    margin: 10px; 
}
figure figcaption {
    text-align: center;
}
#norway{
    float: right;
}